.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 70vh;
    background-color: gold;
}

.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.RollDice button {
    align-self: center;
    width: 15em;
    padding: 1.5em;
    border-radius: 10px;
    color: rgb(162, 2, 2);
    background-color: white;
    margin-top: 3em;
    font-weight: 900;
}

.RollDice button:hover {
    color: white;
    background-color: rgb(162, 2, 2);
    cursor: pointer;
}